# Visual Studio
.vs/

# Build results
bin/
obj/

# User-specific files
*.user
*.suo

# Rider / ReSharper
_ReSharper*/
*.DotSettings.user

# NuGet
packages/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db